#!/usr/bin/env bash

alias ls='ls --color=auto'
alias cp="cp -i"                          # confirm before overwriting something
alias df='df -h'                          # human-readable sizes
alias free='free -m'                      # show sizes in MB

if [ -f "$HOME/.extra_aliases" ]; then
	. ~/.extra_aliases
fi

# Git aliases
alias gc='git commit'
alias ga='git add'
alias gs='git status'
alias gp='git push'
alias gpso='git push --set-upstream origin'
alias gd='git diff'
alias gf='git fetch'
alias gcm='git checkout master'
alias gb='git branch'
alias gr='git rebase'
alias grm='git rebase master'
alias gpf='git push --force'
alias gaa='git add --all'
alias gpl='git pull'

# Dualhead aliases
alias enable-dual='xrandr --output eDP1 --auto --primary --mode 1920x1080 --output HDMI2 --auto --mode 1920x1080 --left-of eDP1'
alias enable-dual-home='xrandr --output eDP1 --auto --primary --mode 1920x1080 --output HDMI2 --auto --mode 1920x1080 --right-of eDP1'
alias disable-dual='xrandr --output eDP1 --auto --output HDMI2 --off'
alias em='enable-dual'
alias dm='disable-dual'

# Paths
alias development='cd ~/development'

# Keyboard
alias compose='setxkbmap -option compose:ralt'

function pullRebase()
 current_branch = $(git branch | grep \* | cut -d ' ' -f2)
 $(gcm)
 $(gpl)
 git checkout $current_branch
 $(grm)
end

function pushToQA()
 current_branch = $(git branch | grep \* | cut -d ' ' -f2)
 git push origin $current_branch:qa --force
end
