#!/usr/bin/env bash

alias ls='ls --color=auto'
alias cp="cp -i"                          # confirm before overwriting something
alias df='df -h'                          # human-readable sizes
alias free='free -m'                      # show sizes in MB

if [ -f "$HOME/.extra_aliases" ]; then
	. ~/.extra_aliases
fi

# Git aliases
alias gc='git commit -m'
alias ga='git add'
alias gs='git status'
alias gp='git push'
alias gpso='git push --set-upstream origin'
alias gd='git diff'
alias gf='git fetch'
alias gcm='git checkout master'
alias gb='git branch'

# Dualhead aliases
alias enable-dual='xrandr --output eDP1 --auto --primary --mode 1920x1080 --output HDMI2 --auto --mode 1920x1080 --above eDP1'
alias disable-dual='xrandr --output eDP1 --auto --output HDMI2 --off'
